backoff==2.2.1
beautifulsoup4==4.11.2
datasets==2.13.1
nbconvert==7.6.0
nbformat==5.9.0
ndjson==0.3.1
numpy==1.22.3
py7zr==0.20.5
PyGithub==1.58.2
PyGithub==1.59.0
PyYAML==6.0
PyYAML==6.0
tiktoken==0.4.0
torch==1.12.0
tqdm==4.64.0
transformers==4.30.2
